.app.dark {
    --bg-color: rgb(19 19 71);
    --inverted-bg-color: rgb(222 222 222);
    --primary-color: green;
    --secondary-color: rgb(65 156 170);
    --inverted-primary-color: rgb(55 201 55);
    --inverted-secondary-color: green;
}
